﻿@model GoodFellowWeb.Models.FamilyPlan
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{
    string baseUrl = "..";

}
<script src="@baseUrl/Scripts/bootstrap.js"></script>
<script src="@baseUrl/Scripts/jquery-1.10.2.js"></script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@using (Html.BeginForm())
{
     <h3 class="page-heading mb-4"></h3>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mb-2" style="margin:0px">
            <div class="col-lg-12">
                <div class="card">
                    <div class="form-group col-md-6">
                        <h5 class="card-title mb-4">PART A – LIFE ASSURED</h5>
                    </div>
    <div class="row">
       
        <div class="form-group col-md-4">
            @Html.EditorFor(model => model.Full_Names, new { htmlAttributes = new { @class = "form-control", @placeholder = "FullNames" } })
            @Html.ValidationMessageFor(model => model.Full_Names, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-4">
            @Html.EditorFor(model => model.ID_Number_, new { htmlAttributes = new { @class = "form-control", @placeholder = "ID Number" } })
            @Html.ValidationMessageFor(model => model.ID_Number_, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.EditorFor(model => model.PIN_Number, new { htmlAttributes = new { @class = "form-control", @placeholder = "PIN Number" } })
            @Html.ValidationMessageFor(model => model.PIN_Number, "", new { @class = "text-danger" })
        </div> 
           <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Birth_Date, htmlAttributes: new { @class = "" })
             <br />
               @Html.JQueryUI().Datepicker("Birth_Date", null, new { @class = "form-control", @id = "Birth_Date", @placeholder = "DOB" }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
  @Html.ValidationMessageFor(model => model.Birth_Date, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Genfer, htmlAttributes: new { @class = "" })
                <br />
                @if (Model.Genfer == "M" || Model.Genfer == "Male")
                {
                    @Html.RadioButton("Genfer", "Male", isChecked: true)@Html.Label("Male")
                    @Html.RadioButton("Genfer", "Female", isChecked: false)@Html.Label("Female")

                @Html.ValidationMessageFor(model => model.Genfer, "", new { @class = "text-danger" })


                }
                else if (Model.Genfer == "F" || Model.Genfer == "Female")
                {
                    @Html.RadioButton("Genfer", "Male", isChecked: false)@Html.Label("Male")
                    @Html.RadioButton("Genfer", "Female", isChecked: true)@Html.Label("Female")

                @Html.ValidationMessageFor(model => model.Genfer, "", new { @class = "text-danger" })


                }
                else
                {
                    @Html.RadioButton("Genfer", "Male", isChecked: true)@Html.Label("Male")
                    @Html.RadioButton("Genfer", "Female", isChecked: false)@Html.Label("Female")
                    @Html.ValidationMessageFor(model => model.Genfer, "", new { @class = "text-danger" })

                }


            </div>
         
            <div class="form-group col-md-4">
                @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Occupation" } })
                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.EditorFor(model => model.Mobile_, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile" } })
                @Html.ValidationMessageFor(model => model.Mobile_, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.EditorFor(model => model.PBox, new { htmlAttributes = new { @class = "form-control", @placeholder = "P.O BOX" } })
                @Html.ValidationMessageFor(model => model.PBox, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.EditorFor(model => model.Town, new { htmlAttributes = new { @class = "form-control", @placeholder = "Town" } })
                @Html.ValidationMessageFor(model => model.Town, "", new { @class = "text-danger" })
            </div>
        <div class="form-group col-md-4">
            @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @placeholder = "Status", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.EditorFor(model => model.famID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Status", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.famID, "", new { @class = "text-danger" })
        </div>
        </div>
                </div>
            </div>
        </div>

        <div class="row mb-2" style="margin:0px">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">PART B - NEXT OF KIN DETAILS</h5>
                            <div class="form-group">
                                @Html.TextBox("FullNamesk", null, new { @class = "form-control", @id = "FullNamesk", @placeholder = "FullNames" })


                            </div>
                            <div class="form-group">
                           @Html.JQueryUI().Datepicker("DOBk", null, new { @class = "form-control", @id = "DOBk", @placeholder = "DOB" }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
</div>
                            <div class="form-group">
                                @Html.TextBox("Relationshipk", null, new { @class = "form-control", @id = "Relationshipk", @placeholder = "Relationship" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("Emailk", null, new { @class = "form-control", @id = "Emailk", @placeholder = "Email" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("Phonek", null, new { @class = "form-control", @id = "Phonek", @placeholder = "Phone" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("Addressk", null, new { @class = "form-control", @id = "Addressk", @placeholder = "Address" })
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btnAddk" onclick="Add()">Add</button>
                                <button type="button" class="btn btn-primary" id="btnUpdatek" style="display:none;" onclick="Update()">Update</button>

                            </div>
                        <table class="table table-striped" style="font-size:small">
                            <thead>
                                <tr>
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        ID_Number
                                    </th>
                                    <th>
                                        DOB
                                    </th>
                                    <th>
                                        Relationship
                                    </th>
                                    <th>
                                       Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Address
                                    </th>
                                    

                                </tr>
                            </thead>
                            <tbody class="tbody"></tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2" style="margin:0px">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">LIFE COVER PER MEMBER</h5>
                           <table class="table table-striped">
                                <tr>
                                    	<th></th>				
                                    <th>CATEGORY</th>
                                    <th>OPTION 1</th>
                                    <th>OPTION 2</th>
                                    <th>OPTION 3</th>
                                    <th>OPTION 4</th>
                                    <th>OPTION 5</th>
                                </tr>
                                @foreach (var z in ViewBag.C)
                                {
                                    string neme = z.CATEGORY;
                                    <tr>
                                        <td>
    @Html.RadioButton("Product", neme, isChecked: true)
</td>
                                       <td>@Html.Label(neme, new { @class = "control-label" })</td> 
                                       
                                        <td>@z.OPTION_1</td>
                                        <td>@z.OPTION_2</td>
                                        <td>@z.OPTION_3</td>
                                        <td>@z.OPTION_4</td>
                                        <td>@z.OPTION_5</td>
                                    </tr>
                                }
                            </table>
                        


                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2" style="margin:0px">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">PART C - DEPENDANTS</h5>
                   
                            <div class="form-group">
                                @Html.TextBox("FullNamesD", null, new { @class = "form-control", @id = "FullNamesD", @placeholder = "FullNames" })


                            </div>
                            <div class="form-group">
                                @Html.JQueryUI().Datepicker("DOBD", null, new { @class = "form-control", @id = "DOBD", @placeholder = "DOB" }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                            </div>
                            <div class="form-group">
                                @Html.TextBox("RelationshipD", null, new { @class = "form-control", @id = "RelationshipD", @placeholder = "Relationship" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("EmailD", null, new { @class = "form-control", @id = "EmailD", @placeholder = "Email" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("PhoneD", null, new { @class = "form-control", @id = "PhoneD", @placeholder = "Mobile no" })
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btnAddD" onclick="Add2()">Add</button>
                                <button type="button" class="btn btn-primary" id="btnUpdateD" style="display:none;" onclick="Update2()">Update</button>
                               </div>

                        <table class="table table-striped" style="font-size:small">
                            <thead>
                                <tr>
                                    <th>
                                        id
                                    </th>
                                    <th>
                                        FullNames
                                    </th>
                                    <th>
                                        DOB
                                    </th>
                                    <th>
                                        Relationship
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                 </tr>
                            </thead>
                            <tbody class="tbody2"></tbody>
                        </table>
                        <div class="form-group">
                            <input type="submit" value="Submit Application" class="btn btn-primary" />
                        </div>
                        <div class="form-group col-md-6" style="visibility:hidden">
                            <input type="Text" class="form-control" value="@ViewBag.S" id="Customer_No">
                            <input type="Text" class="form-control" value="" id="idk">
                            <input type="Text" class="form-control" value="" id="idD">
                         </div>
                    </div>
                </div>
            </div>
        </div>


}
<script type="text/javascript">
        //Load Data in Table when documents is ready
        $(document).ready(function () {
            loadData();
            loadData2();
        });

        //Load Data function
        function loadData() {
            $.ajax({
                url: "@baseUrl/User/ListK",
                type: "GET",
                data: { s: $("#Customer_No").val(),
                   },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.id + '</td>';
                        html += '<td>' + item.Name + '</td>';
                        html += '<td>' + item.ID_Number + '</td>';
                        html += '<td>' + item.DOB + '</td>';
                        html += '<td>' + item.Relationship + '</td>';
                        html += '<td>' + item.Email + '</td>';
                        html += '<td>' + item.Phone + '</td>';
                        html += '<td>' + item.Address + '</td>';
                        html += '<td><a href="javascript:void(0);" onclick="getbyID(' + item.id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.id + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
       //Add Data Function
        function Add() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}
            var empObj = {
                id: $('#idk').val(),
                Name: $('#Namek').val(),
                ID_Number: $('#ID_Numberk').val(),
                DOB: $('#DOBk').val(),
                Relationship: $('#Relationshipk').val(),
                Email: $('#Emailk').val(),
                Phone: $('#Phonek').val(),
                Address: $('#Addressk').val(),
                PlanNo: $('#Customer_No').val()
               };
            $.ajax({
                url: "@baseUrl/User/AddK",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    //$('#myModal').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //Function for getting the Data Based upon Employee ID
        function getbyID(EmpID) {
 //           alert(EmpID) ;
            $.ajax({
                url: "@baseUrl/User/getbyIDK/" + EmpID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    //alert('Results' + result[0].Surname) ;
                    //(result) ;
                    $('input#idk').val(result[0].id);
                    $('input#Namek').val(result[0].Name);
                    $('input#ID_Numberk').val(result[0].ID_Number);
                    $('input#DOBk').val(result[0].DOB);
                    $('input#Relationshipk').val(result[0].Relationship);
                    $('input#Emailk').val(result[0].Email);
                    $('input#Phonek').val(result[0].Phone);
                    $('input#Addressk').val(result[0].Address);
                    $('#btnUpdatek').show();
                    $('#btnAddk').hide();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }
        //function for updating employee's record
        function Update() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}
            var empObj = {
                id: $('#idk').val(),
                Name: $('#Namek').val(),
                ID_Number: $('#ID_Numberk').val(),
                DOB: $('#DOBk').val(),
                Relationship: $('#Relationshipk').val(),
                Email: $('#Emailk').val(),
                Phone: $('#Phonek').val(),
                Address: $('#Addressk').val()
            };
            $.ajax({
                url: "@baseUrl/User/UpdateK",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    //$('#myModal').modal('hide');
                    //$('#EmployeeID').val("");
                   // $('#id').val("");
                   // $('#Name').val("");
                   // $('#ID_Number').val("");
                   // $('#DOB').val("");
                   // $('#Email').val("");
                   // $('#Phone').val("");
                   // $('#Address').val("");
                   // $('#Percentage').val("");
                   //$('#Relationship').val("")
                    clearTextBox();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //function for deleting employee's record
        function Delele(ID) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: "@baseUrl/User/DeleteK/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loadData();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }
        //Function for clearing the textboxes
        function clearTextBox() {
            $('#idk').val("");
            $('#Namek').val("");
            $('#ID_Numberk').val("");
            $('#DOBk').val("");
            $('#Relationshipk').val("");
            $('#Emailk').val("");
            $('#Phonek').val("");
            $('#Addressk').val("");
            $('#btnUpdatek').hide();
            $('#btnAddk').show();
       }
        //Valdidation using jquery
        function validate() {
            var isValid = true;



            if ($('#Namek').val().trim() == "") {
                $('#Namek').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Namek').css('border-color', 'lightgrey');
            }
            if ($('#ID_Numberk').val().trim() == "") {
                $('#ID_Numberk').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ID_Numberk').css('border-color', 'lightgrey');
            }
            if ($('#DOBk').val().trim() == "") {
                $('#DOBk').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#DOBk').css('border-color', 'lightgrey');
            }
            if ($('#Addressk').val().trim() == "") {
                $('#Addressk').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Addressk').css('border-color', 'lightgrey');
            }
            if ($('#Emailk').val().trim() == "") {
                $('#Emailk').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Emailk').css('border-color', 'lightgrey');
            }
            if ($('#Phonek').val().trim() == "") {
                $('#Phonek').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Phonek').css('border-color', 'lightgrey');
            }
            
            return isValid;
        }
    //dependants 
        function loadData2() {
            $.ajax({
                url: "@baseUrl/User/ListD",
                type: "GET",
                data: {
                    s: $("#Customer_No").val(),
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.id + '</td>';
                        html += '<td>' + item.FullNames + '</td>';
                        html += '<td>' + item.DOB + '</td>';
                        html += '<td>' + item.Relationship + '</td>';
                        html += '<td>' + item.Email + '</td>';
                        html += '<td>' + item.Phone + '</td>';
                        html += '<td><a href="javascript:void(0);" onclick="getbyID(' + item.id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.id + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('.tbody2').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //Add Data Function
        function Add2() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}
            var empObj = {
                id: $('#idD').val(),
                FullNames: $('#FullNamesD').val(),
                DOB: $('#DOBD').val(),
                Relationship: $('#RelationshipD').val(),
                Email: $('#EmailD').val(),
                Phone: $('#PhoneD').val()
            };
            $.ajax({
                url: "@baseUrl/User/AddD",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData2();
                    //$('#myModal').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //Function for getting the Data Based upon Employee ID
        function getbyID2(EmpID) {
            //           alert(EmpID) ;
            $.ajax({
                url: "@baseUrl/User/getbyIDD/" + EmpID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    //alert('Results' + result[0].Surname) ;
                    //(result) ;
                    $('input#idD').val(result[0].id);
                    $('input#FullNamesD').val(result[0].FullNames);
                    $('input#DOBD').val(result[0].DOB);
                    $('input#RelationshipD').val(result[0].Relationship);
                    $('input#EmailD').val(result[0].Email);
                    $('input#PhoneD').val(result[0].Phone);
                    $('#btnUpdateD').show();
                    $('#btnAddD').hide();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }
        //function for updating employee's record
        function Update2() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}
            var empObj = {
                id: $('#idD').val(),
                FullNames: $('#FullNamesD').val(),
                DOB: $('#DOBD').val(),
                Relationship: $('#RelationshipD').val(),
                Email: $('#EmailD').val(),
                Phone: $('#PhoneD').val()
            };
            $.ajax({
                url: "@baseUrl/User/UpdateD",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData2();
                    //$('#myModal').modal('hide');
                    //$('#EmployeeID').val("");
                    // $('#id').val("");
                    // $('#Name').val("");
                    // $('#ID_Number').val("");
                    // $('#DOB').val("");
                    // $('#Email').val("");
                    // $('#Phone').val("");
                    // $('#Address').val("");
                    // $('#Percentage').val("");
                    //$('#Relationship').val("")
                    clearTextBox2();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //function for deleting employee's record
        function Delele2(ID) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: "@baseUrl/User/DeleteD/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loadData2();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }
        //Function for clearing the textboxes
        function clearTextBox2() {
            //$('#EmployeeID').val("");
            $('#idD').val("");
            $('#FullNamesD').val("");
            $('#DOBD').val("");
            $('#RelationshipD').val("");
            $('#Email').val("");
            $('#PhoneD').val("");
            $('#btnUpdateD').hide();
            $('#btnAddD').show();
            // $('#Name').css('border-color', 'lightgrey');
            //$('#Age').css('border-color', 'lightgrey');
            //$('#State').css('border-color', 'lightgrey');
            //$('#Country').css('border-color', 'lightgrey');
        }
        //Valdidation using jquery
        function validate() {
            var isValid = true;



            if ($('#FullNames').val().trim() == "") {
                $('#FullNames').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#FullNames').css('border-color', 'lightgrey');
            }
            if ($('#DOB').val().trim() == "") {
                $('#DOB').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#DOB').css('border-color', 'lightgrey');
            }
            if ($('#Relationship').val().trim() == "") {
                $('#Relationship').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Relationship').css('border-color', 'lightgrey');
            }
            if ($('#Phone').val().trim() == "") {
                $('#Phone').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Phone').css('border-color', 'lightgrey');
            }
            if ($('#Email').val().trim() == "") {
                $('#Email').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Email').css('border-color', 'lightgrey');
            }
            
            return isValid;
        }
</script>



