﻿@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        //var idleInterval = setInterval("reloadPage()", 180000); // 30 Seconds
    })

    function reloadPage() {
       // location.reload();
    }
</script>


<!-- Styles -->
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}

<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

