﻿@model PagedList.IPagedList<GoodFellowWeb.Models.LoanStatus>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript">
    function onSubmitClick() {
       parent.document.getElementById("myForm").reload();
    }
</script>

       

<!-- Styles -->
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}

<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


   <div class="row mb-2" style="margin:0px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">





@using (Html.BeginForm("Loans", "User", FormMethod.Get, new { Id = "myForm", style = "margin: 0px; " }))
{

        <section class="row">

                    <div class="col-md-4">
                        Start Date : @Html.JQueryUI().Datepicker("Date1String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)


                    </div>


                    <div class="col-md-4">
                        End Date : @Html.JQueryUI().Datepicker("Date2String").ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                    </div>

                    <div class="col-md-1">

                        <input type="submit" class="btn btn-primary" value="Search"  />
                    </div>
            <div class="col-md-1">

                <input type="reset" class="btn btn-primary" value="Refresh" onclick="onSubmitClick();"  />
            </div>
             </section>







}</br>
                <h5 class="card-title">Loan Tracker Listing</h5>
                <div class="table-responsive">
                    <table class="table center-aligned-table">
                        <thead>
                            <tr class="text-primary">
                                <th>@Html.ActionLink("Loan No", "Index", new { sortOrder = ViewBag.NameSortParm })
</th>
                                <th>Loan Amount</th>
                                <th>Loan Date</th>
                                <th>@Html.ActionLink("Loan Status", "Index", new { sortOrder = ViewBag.CDSSortParm })
</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="">
                                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AMOUNT)</td>
                                    <td>@{
                                        @item.CREATED_DATE.ToString("dd-MMM-yyyy")}</td>
                                    <td>@Html.DisplayFor(modelItem => item.STATUS)</td>
                                    <td><a href="@Url.Action("LoansStat", new { id = item.ID })" class="btn btn-outline-success btn-sm">View Mini Statement</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of
                    @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Loans",
new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter =
ViewBag.CurrentFilter
}))
                </div>
            </div>
        </div>
    </div>
</div>



