﻿@model GoodFellowWeb.Models.LoanApplication
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{
    string baseUrl = "..";

}
<script src="@baseUrl/Scripts/bootstrap.js"></script>
<script src="@baseUrl/Scripts/jquery-1.10.2.js"></script>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


@using (Html.BeginForm())
{
     <h3 class="page-heading mb-4"></h3>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">Personal Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Loan Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Employment & Finance</a>
        </li>
      
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">

            <div class="row mb-2" style="margin:0px">
                <div class="col-lg-12">
                    <div class="card">
                        <div id="errormessage"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="">
                                    Will you be applying this loan with co-applicant?
                                </label>
                                @Html.RadioButton("coapplicant", "Yes", isChecked: true)@Html.Label("Yes","Yes", new { @class = "control-label md-4" })
                                @Html.RadioButton("coapplicant", "No", isChecked: false)@Html.Label("No", "No", new { @class = "control-label md-4" })
                                @Html.ValidationMessageFor(model => model.coapplicant, "", new { @class = "text-danger" })


                            </div>
                            <div class="form-group col-md-6">
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.First, new { htmlAttributes = new {  @title = "First Name is  mandatory", @class = "form-control", @placeholder = "Name" } })
                                    @Html.ValidationMessageFor(model => model.First, "", new { @style = "color:red" })


                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.Last, new { htmlAttributes = new {  @title = "Last Name is  mandatory", @class = "form-control", @placeholder = "Last Name" } })
                                    @Html.ValidationMessageFor(model => model.Last, "", new { @style = "color:red" })


                                </div>
                                <div class="form-group col-md-6">
                                    @Html.JQueryUI().Datepicker("DOB", null, new { @class = "form-control", @id = "DOBD", @placeholder = "DOB" }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                                    @Html.ValidationMessageFor(model => model.DOB, "", new { @style = "color:red" })
  </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new {  @title = "Phone is  mandatory", @class = "form-control", @placeholder = "Phone Number" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.TextAreaFor(model => model.Address, 5, 20, htmlAttributes: new { @class = "form-control", @placeholder = "Address", style = "width: 100%; max-width: 100%;" })
  @Html.ValidationMessageFor(model => model.Address, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="">
                                        Do you rent or own?
                                    </label>
                                    @Html.RadioButton("OwnRent", "Own", isChecked: true)@Html.Label("Own")
                                    @Html.RadioButton("OwnRent", "Rent", isChecked: false)@Html.Label("Rent")
                                    @Html.ValidationMessageFor(model => model.OwnRent, "", new { @class = "text-danger" })


                                </div>
                                 <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.MonthlyAmout, new { htmlAttributes = new {  @title = "Monthly amount is  mandatory", @class = "form-control", @placeholder = "Monthly Rent/Monthly Mortgage" } })
                                    @Html.ValidationMessageFor(model => model.MonthlyAmout, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @Autocomplete = "off", @type = "Email", @title = "Email is  mandatory", @class = "form-control", @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red" })
                                </div>
                        
                            </div>

                        <br />

                        

                    </div>

                </div>
            </div>
            </div>
        <div class="tab-pane" id="profile" role="tabpanel">

            <div class="row mb-2" style="margin:0px">
                <div class="col-lg-12">
                    <div class="card">
                        <div id="errormessage"></div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new {  @title = "Loan amount is  mandatory", @class = "form-control", @placeholder = "Desired Loan Amount" } })
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.UsedFor, new { htmlAttributes = new {  @title = "Loan use is  mandatory", @class = "form-control", @placeholder = "What will loan be used for" } })
                            @Html.ValidationMessageFor(model => model.UsedFor, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-md-6">
                          @Html.DropDownListFor(model => model.Product, (IEnumerable<SelectListItem>)ViewBag.DT2, "Select Loan Product", new { id = "product", @class = "form-control", @style = "border:solid;border-width:thin;width:300px" })

                              @Html.ValidationMessageFor(model => model.Product, "", new { @style = "color:red" })
                        </div>

                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.Tenor, new { htmlAttributes = new { @title = "Tenor is  mandatory", @class = "form-control", @placeholder = "Payback period in months" } })
                            @Html.ValidationMessageFor(model => model.Tenor, "", new { @style = "color:red" })
                        </div>

                        <br />
                        <div class="form-group col-md-6">
                            <label>
                                Guarantor Information
                            </label>
                            
                        </div>
                        <br />
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.Savings, new { htmlAttributes = new { @title = "Loan amount is  mandatory", @class = "form-control", @placeholder = "Savings Amount" } })
                            @Html.ValidationMessageFor(model => model.Savings, "", new { @style = "color:red" })
                        </div>

                    </div>

                </div>
            </div>
            </div>
        <div class="tab-pane" id="messages" role="tabpanel">

            <div class="row mb-2" style="margin:0px">
                <div class="col-lg-12">
                    <div class="card">
                        <div id="errormessage"></div>

                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new {  @title = "Job Title", @class = "form-control", @placeholder = "Job Title" } })
                            @Html.ValidationMessageFor(model => model.JobTitle, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.JQueryUI().Datepicker("JobStartDate", null, new { @class = "form-control", @id = "JobStartDate", @placeholder = "Job Start Date" }).ShowButtonPanel(true).ChangeYear(true).ChangeMonth(true)
                            @Html.ValidationMessageFor(model => model.JobStartDate, "", new { @style = "color:red" })




                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.AnnualIncome, new { htmlAttributes = new {  @title = "Annual Income", @class = "form-control", @placeholder = "Annual Income" } })
                            @Html.ValidationMessageFor(model => model.AnnualIncome, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.EmployerName, new { htmlAttributes = new {  @title = "Annual Income", @class = "form-control", @placeholder = "Employer Name" } })
                            @Html.ValidationMessageFor(model => model.EmployerName, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group col-md-6">
                            @Html.EditorFor(model => model.Hear, new { htmlAttributes = new {  @title = "How did you hear about us?", @class = "form-control", @placeholder = "How did you hear about us?" } })
                            @Html.ValidationMessageFor(model => model.Hear, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit Application" class="btn btn-primary" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
        </div>
}
<script type="text/javascript">
    $(function ()
        $('#myTab a:last').tab('show')
)
    </script>



