﻿@model IEnumerable<GoodFellowWeb.Models.LoanStatement>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<script type="text/javascript" language="Javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>



<!-- Styles -->
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/'); ;

}

<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


   <div class="row mb-2" style="margin:0px">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@ViewBag.Loan Mini-Statement</h5>
                <div class="table-responsive">
                    <table class="table center-aligned-table">

                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="">
                                    <td>LAST TRANSACTION DATE </td>
                                    <td>
                                        @{
                                            @item.TrxnDate.ToString("dd-MMM-yyyy")
                                    }
                                </td>
                            </tr>

                                <tr class="">
                                    <td>AMOUNT : ZMW</td>
                                    <td>
                                        @{ @item.Amount.ToString("#,##0.00")


                                    }
                                </td>
                            </tr>
                                <tr class="">
                                    <td>DESCRIPTION :</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                </tr>
                                <tr class="">
                                    <td>CUMULATIVE BALANCE : ZMW </td>
                                    <td>@Html.DisplayFor(modelItem => item.Balance)</td>
                                </tr>
                                        }
                            <tr class="">
                                <td>
                                    <div class="text-center"><a href="~/User/Loans">Back</a></div>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div>



