﻿@model GoodFellowWeb.Models.LoanA
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@using (Html.BeginForm())
{
     <h3 class="page-heading mb-4"></h3>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mb-2" style="margin:0px">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Loan Application Form</h5>
                        <form class="forms-sample">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LoanAmount, htmlAttributes: new { @class = "" })
                                @Html.EditorFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control", @style = ";width:300px" } })
                                @Html.ValidationMessageFor(model => model.LoanAmount, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.product, htmlAttributes: new { @class = "" })
                                @Html.DropDownListFor(model => model.product, (IEnumerable<SelectListItem>)ViewBag.DT, "Select Loan Product", new { id = "product", @class = "form-control", @style = "border:solid;border-width:thin;width:300px" })
                                @Html.ValidationMessageFor(model => model.product, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit Application" class="btn btn-primary" />
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    

}



