﻿@model GoodFellowWeb.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>

    </div>

  
@using (Html.BeginForm(new { autocomplete = "off" }))
{ @Html.AntiForgeryToken()

    <div class="container">
        <div class="form">
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                    <div class="form-group col-md-6">

                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Client number is  mandatory",@class="form-control",@placeholder="Client Number" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color:red" })
                     </div>
                    <div class="form-group col-md-6">
                       @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @Autocomplete = "off", @placeholder = "Password...", @type = "password", @title = "Password is  mandatory", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red" })
                   </div>
                    <div class="form-group">
                        <p style="color:red"><i>@ViewBag.Attempts</i></p>

                    </div>
                </div>
                
                <div class="text-center"><button type="submit" style="width:150px">Login</button></div>
                <table style="margin-left:40%" class="table table-responsive">

                    <tr>
                        <td>
                            <div class="text-center"><a href="~/Home/Register">Register</a></div>

                        </td>
                        <td>
                            <div class="text-center"><a href="~/Home/Forgot">Forgot Password </a></div>

                        </td>
                    </tr>

                </table>                     
                    
            </form>
         
        </div>
          
    </div>
}
</section><!-- #contact -->
