﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gwend Nyadhi Sacco</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Images/favicon.ico" rel="icon">
    <link href="~/Images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Reveal/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Reveal/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Reveal/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Reveal/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Reveal/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">

    <!--==========================
      Top Bar
    ============================-->
    <section id="topbar" class="d-none d-lg-block">
        <div class="container clearfix">
            <div class="contact-info float-left">
                <i class="fa fa-envelope-o"></i> <a href="mailto:admin@gwendnyadhisacco.com">admin@gwendnyadhisacco.com</a>
                <i class="fa fa-phone"></i>(+254) 781 887 799 (+254) 706 577 213 (+254) 776 454 788

            </div>
            <div class="social-links float-right">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
              
                <img class="img-responsive" style="height:100px;width:auto" src="~/Images/GNFSCCSLlogoFNL_RGB-2.png" />
                  <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
            </div>
            <br />
            <br />
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("About Us", "About", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Why Us", "WhyUs", "Home")</li>

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Services", "Services", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Team", "Team", "Home")</li>

                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Home" ? "menu-active" : "")">@Html.ActionLink("Login/SignUp","Index", "Account")</li>

                   
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">

        <div class="intro-content">
            <h2 style="color:#006231">Gwend<span stle="color:#8dc73f">Nyadhi</span><br>Sacco!</h2>
            <div>
                <a href="#main" class="btn-get-started scrollto">Get Started</a>
                <a href="~/Home/Register" class="btn-projects scrollto">Sign Up Now</a>
            </div>
        </div>

        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('~/Reveal/img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('~/Reveal/img/intro-carousel/2.jpg');"></div>
            <div class="item" style="background-image: url('~/Reveal/img/intro-carousel/3.jpg');"></div>
            <div class="item" style="background-image: url('~/Reveal/img/intro-carousel/4.jpg');"></div>
            <div class="item" style="background-image: url('~/Reveal/img/intro-carousel/5.jpg');"></div>
        </div>

    </section><!-- #intro -->

    <main id="main">
        @RenderBody()
        <hr />
    
        </main>
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>ESCROW SYSTEMS</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
                -->
            </div>
        </div>
    </footer><!-- #footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/Reveal/lib/jquery/jquery.min.js"></script>
    <script src="~/Reveal/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Reveal/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Reveal/lib/easing/easing.min.js"></script>
    <script src="~/Reveal/lib/superfish/hoverIntent.js"></script>
    <script src="~/Reveal/lib/superfish/superfish.min.js"></script>
    <script src="~/Reveal/lib/wow/wow.min.js"></script>
    <script src="~/Reveal/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Reveal/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="~/Reveal/lib/sticky/sticky.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ9a-v6VEbXvDQsTv_1AHg9UO7AG3AWxk&sensor=false"></script>*@
    <!-- Contact Form JavaScript File -->
    <script src="~/Reveal/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Reveal/js/main.js"></script>


</body>
</html>
