﻿@using GoodFellowWeb.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Gwendi Nyadhi Sacco</title>
    <link rel="stylesheet" href="~/StarAdmin/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/StarAdmin/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="~/StarAdmin/node_modules/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/StarAdmin/css/style.css" />
    <link rel="shortcut icon" href="~/Images/favicon.ico" />
    <link href="~/Images/favicon.ico" rel="icon">
    <link href="~/Images/apple-touch-icon.png" rel="apple-touch-icon">

    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/themes/base/css")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    
</head>
<body>
    <div class=" container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                @*<a class="navbar-brand brand-logo" href="#"><img src="~/StarAdmin/images/logo_star_black.png" /></a>
                <a class="navbar-brand brand-logo-mini" href="#"><img src="~/StarAdmin/images/logo_star_mini.jpg" alt=""></a>*@
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
                    @*<input class="form-control mr-sm-2 search" type="text" placeholder="Search">*@
                </form>
                <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="~/Images/GNFSCCSLlogoFNL_RGB-2.png" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        @{
            Service nm = new Service();
            var c = nm.loanC(User.FirstName);
            var name = nm.loanCN(User.FirstName);
            int D = 0;
            int Rp = 0;
            int Rj = 0;
            int Lo = 0;
            foreach (var p in c)
            {
                Lo += p.numLoans;
                if (p.status == "REPAID")
                {
                    Rp = p.numLoans;
                }
                else if (p.status == "DISBURSED")
                {
                    D = p.numLoans;
                }
                else if (p.status == "REJECTED")
                {
                    Rj = p.numLoans;
                }
            }

        }
        <!-- partial -->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:partials/_sidebar.html -->
                <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                    <div class="user-info">
                        <img src="~/Images/GNFSCCSLlogoFNL_RGB-2.png" alt="">
                        <p class="name">@User.Identity.Name</p>
                        <p class="designation">Customer</p>
                        <span class="online"></span>
                    </div>
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/User/Index">
                                <img src="~/StarAdmin/images/icons/1.png" alt="">
                                <span class="menu-title">Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/User/LoanApp">
                                <img src="~/StarAdmin/images/icons/2.png" alt="">
                                <span class="menu-title">Loan Application</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/User/Loans">
                                <img src="~/StarAdmin/images/icons/005-forms.png" alt="">
                                <span class="menu-title">Loan Tracker</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/User/Loans">
                                <img src="~/StarAdmin/images/icons/005-forms.png" alt="">
                                <span class="menu-title">Online Payments</span>
                            </a>
                        </li><li class="nav-item">
    <a class="nav-link" href="~/User/FamilyPlan">
        <img src="~/StarAdmin/images/icons/005-forms.png" alt="">

        <span class="menu-title">Family Life Plan Applications</span>
    </a>
</li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/User/Loans">
                                <img src="~/StarAdmin/images/icons/005-forms.png" alt="">
                                <span class="menu-title">Reports</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Account/LogOut">
                                <img src="~/StarAdmin/images/icons/020-locked.png" alt="">
                                <span class="menu-title">Log Out</span>
                            </a>
                        </li>
                       
                    </ul>
                </nav>
                @{
                    var message = "";
                    try
                    {
                        message = System.Web.HttpContext.Current.Session["NOT"].ToString();
                    }
                    catch (Exception)
                    {

                        message = "";
                    }
                    System.Web.HttpContext.Current.Session["NOT"] = "";
                }

                @if (message != "")
            {
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                    <script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
                    </script>
                }
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h7 class="modal-title">Gwendi Nyadhi Sacco Online Portal Notification</h7>
                              
                            </div>
                      
                            <div class="modal-body">
                                <p>@message</p>
                                <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                            </div>
                        </div>
                    </div>
                </div>          
                <!-- partial -->
                <div class="content-wrapper">
                    <div class="row">
                        <h3 class="page-heading mb-4">Gwendi Nyadhi Sacco Online Portal</h3>
                        <div style="margin-left:30%" class="pull-right">

                            <img class="img-responsive" style="height:100px;width:auto" src="~/Images/GNFSCCSLlogoFNL_RGB-2.png" />
                            <!-- Uncomment below if you prefer to use an image logo -->
                            <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <h4 class="text-danger">
                                                    <i class="fa fa-bookmark-o highlight-icon" aria-hidden="true"></i>
                                                </h4>
                                            </div>
                                            <div class="float-right">
                                                <p class="card-text text-dark">Loans Applied</p>
                                                <h4 class="bold-text">@Lo</h4>
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Just Updated
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <h4 class="text-warning">
                                                    <i class="fa fa-bookmark-o highlight-icon" aria-hidden="true"></i>
                                                </h4>
                                            </div>
                                            <div class="float-right">
                                                <p class="card-text text-dark">Disbursed Loans</p>
                                                <h4 class="bold-text">@D</h4>
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Just Updated
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <h4 class="text-success">
                                                    <i class="fa fa-bookmark-o highlight-icon" aria-hidden="true"></i>
                                                </h4>
                                            </div>
                                            <div class="float-right">
                                                <p class="card-text text-dark">Rejected Loans</p>
                                                <h4 class="bold-text">@Rj</h4>
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Just Updated
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-4">
                                <div class="card card-statistics">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-left">
                                                <h4 class="text-primary">
                                                    <i class="fa fa-bookmark-o highlight-icon" aria-hidden="true"></i>
                                                </h4>
                                            </div>
                                            <div class="float-right">
                                                <p class="card-text text-dark">Repaid Loans</p>
                                                <h4 class="bold-text">@Rp</h4>
                                            </div>
                                        </div>
                                        <p class="text-muted">
                                            <i class="fa fa-repeat mr-1" aria-hidden="true"></i> Just Updated
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body-content">
                            @RenderBody()
                            <hr />
                        </div>

                        <!-- partial:partials/_footer.html -->
                        <footer class="footer">
                            <div class="container-fluid clearfix">
                                <span class="float-right">
                                    <a href="#">Escrow Systems</a> &copy; 2018
                                </span>
                            </div>
                        </footer>
                        <!-- partial -->
                    </div>
        </div>
    </div>
    <script src="~/StarAdmin/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/StarAdmin/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/StarAdmin/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/StarAdmin/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="~/StarAdmin/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script>
    <script src="~/StarAdmin/js/off-canvas.js"></script>
    <script src="~/StarAdmin/js/hoverable-collapse.js"></script>
    <script src="~/StarAdmin/js/misc.js"></script>
    <script src="~/StarAdmin/js/chart.js"></script>
    <script src="~/StarAdmin/js/maps.js"></script>
   </body>
</html>
