﻿@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section id="services">
    <div class="container">

        <div class="section-header">
            <h2>Who We Are</h2>
            <p>
                Gwend Nyadhi Farmers Savings and Credit Co-operative Cociety is a producer based Sacco registered in Kenya. Our first value chain is poultry supported by sorghum as we complete our analysis and assessment of other viable value chains. Gwend Nyadhi is farmer centred and all our functions are geared towards eliminating business bottlenecks for our members to unlock profitability of farm based enterprises. Registration fee is a one-off payment of Ksh. 200/= and shares at Ksh. 20/=.  </p>
        </div>
        <div class="section-header">
            <h2>Our Vision</h2>
            <p>
                Wealthier, Healthier and Greener Homes.
           </p>
        </div>
        <div class="section-header">
            <h2>Our Mission</h2>
            <p>
                To strengthen families, grow a sustainable local economy, cultivate leadership and foster respect for all.
              </p>
        </div>

        <div class="section-header">
            <h2>Our Objectives</h2>
            <p>
                
                To promote thrift among its members by affording them an opportunity for accumulating their savings and deposits and thereby create a source of funds from which loans can be given to them exclusively for provident and productive purposes at fair and reasonable rates of interests; enabling them to use and control their money for their mutual benefit.
                To ensure personal growth through the introduction of new products and services that will promote the economic base of the members.
                To ensure progress of members and the society through continuous education programs on effective use of credit, reduction of poverty, human dignity and cooperation.
                To apply the cooperative principle of cooperation among cooperatives in order to promote members interests. In furtherance of the objects of the society shall affiliate to the relevant National Cooperative Unions and the apex society.
             </p>
        </div>
        <div class="section-header">
            <h2>How We Work</h2>
            <p>
                The purpose of agricultural cooperatives is to help farmers increase their yields and incomes by pooling their resources to support collective service provisions and economic empowerment. Gwend Nyadhi Sacco facilitates its members through;
                Mobilizing community savings.
                Enhancing food and nutrition security.
                Mitigating effects of climate change through Tree and fruit trees planting.
                Health and wellness.
             </p>
            <img class="img-responsive" style="height:200px;width:auto" src="~/Images/image002.png" />

        </div>

    </div>
</section><!-- #services -->
