﻿@model GoodFellowWeb.Models.Contact

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    var message = "";
    try
    {
        message = ViewBag.Message;
    }
    catch (Exception)
    {

        message = "";
    }
    ViewBag.Message = "";
}

@if (message != "")
            {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                    <script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
                    </script>
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h7 class="modal-title">
                                     Finance Limited Online Portal Notification</h7>
                                </div>
                                <div class="modal-body">
                                    <p>@message</p>
                                    <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

}

<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            <p>Contact us on the following below</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Address</h3>
                    <address>
                        Wananchi Building,

                        Chris Msando Road,

                        P. O. Box 7521 – 40100,

                        Kisumu.
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Phone Number</h3>
                    <p><a href="#">
                           (+254) 781 887 799

                           (+254) 706 577 213

                           (+254) 776 454 788</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:admin@gwendnyadhisacco.com">admin@gwendnyadhisacco.com</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Operating Hours</h3>
                    <p>
                        OPERATING HOURS:

                        Monday’s – Friday’s: 8:00am – 5:00pm

                        Saturday’s: 9:00am – 1:00pm

                        Sunday’s – Closed
                    </p>
                </div>
            </div>

        </div>
    </div>

    @*<div id="google-map" data-latitude="-15.410896" data-longitude="28.293602"></div>*@
    <div id="googleMap" style="width:auto;height:520px"></div>

@using (Html.BeginForm(new { autocomplete = "off" }))
{   @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Name is  mandatory", @class = "form-control", @placeholder = "Your Name" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @style = "color:red" })
 </div>
                    <div class="form-group col-md-6">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Email is  mandatory", @class = "form-control", @placeholder = "Your Email" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @style = "color:red" })
                   </div>
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Subject is  mandatory", @class = "form-control", @placeholder = "Subject" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @style = "color:red" })
  </div>
                <div class="form-group">
                    @Html.TextAreaFor(model => model.Message, 5, 20, htmlAttributes: new { @class="form-control",@placeholder = "Message", style = "width: 100%; max-width: 100%;" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @style = "color:red" })
               </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
        </div>

    </div>
}
</section><!-- #contact -->
