﻿@model GoodFellowWeb.Models.ForgotP
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    var message = "";
    try
    {
        message = ViewBag.Message;
    }
    catch (Exception)
    {

        message = "";
    }
    ViewBag.Message = "";
}

@if (message != "")
            {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                    <script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
                    </script>
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h7 class="modal-title">
                                     Finance Limited Online Portal Notification</h7>
                                </div>
                                <div class="modal-body">
                                    <p>@message</p>
                                    <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

}

<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>

    </div>

@using (Html.BeginForm(new { autocomplete = "off" }))
{   @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="form">
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                   <div class="form-group col-md-6">
                        @Html.EditorFor(model => model.clientnumber, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Client number is  mandatory", @class = "form-control", @placeholder = "Client Number" } })
                        @Html.ValidationMessageFor(model => model.clientnumber, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group col-md-6">
                        <div class="text-center"><button type="submit">Submit</button></div>
  
                      </div>
                </div>

                <br />
              
              </form>
            
                <div class="text-center"><a href="~/Account/Index">Login</a></div>
           
        </div>

    </div>
}
</section><!-- #contact -->
