﻿@{
    ViewBag.Title = "Home Page";
}
<section id="services">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title"><a href="">Environment Conservation</a></h4>
                    <p class="description">
                        
                        Planting fruit trees, wood lots and encouraging conservation agriculture.
                        
                        Kitchen gardening, Fisheries development, Livestock and poultry, Rain water harvesting.
                        </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><img src="~/Images/coins.png" /></div>
  <h4 class="title"><a href=""> To register on Gwend Nyadhi Sacco;</a></h4>
                    <p class="description">
                       
                        The registration fee is Ksh. 200/=

                        Pay through:

                        Mpesa Paybill: 277539
                        Or
                        Airtel Paybill: 115115

                        Each share costs Ksh. 20/=
                      
</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                    <h4 class="title"><a href="">Financial Services</a></h4>
                    <p class="description">
                        
                        Promoting financial freedom and security at the farmers' household level.  </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon"><img src="~/Images/hand-graving-smartphone.png" /></div>
                    <h4 class="title"><a href="">Enterprise Services</h4>
                    <p class="description">
                        
                        Enhance the ability/capacity for members to generate/increase income.
                    </p>
                   
                </div>
            </div>

        </div>

    </div>
</section><!-- #services -->

