﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>

    </div>

  
    <div class="container">
        <div class="form">
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Username" data-rule="minlen:4" data-msg="Please enter username" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" name="email" id="email" placeholder="Password" data-rule="password" data-msg="Please enter a valid password" />
                        <div class="validation"></div>
                    </div>
                </div>
                
                <div class="text-center"><button type="submit" style="width:300px">Login</button></div>
          <br />
                      
                    
            </form>
            <div class="text-center"><a href="~/Home/Register"><button type="submit" style="width:300px">Register</button> </a></div>

        </div>

    </div>
</section><!-- #contact -->
