﻿@model GoodFellowWeb.Models.Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    string baseUrl = "..";

}
<script src="@baseUrl/Scripts/bootstrap.js"></script>
<script src="@baseUrl/Scripts/jquery-1.10.2.js"></script>
@{
    var message = "";
    try
    {
        message = ViewBag.Message;
    }
    catch (Exception)
    {

        message = "";
    }
    ViewBag.Message = "";
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@if (message != "")
            {
               <script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
                    </script>
                    <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h7 class="modal-title">
                                    
                                        Gwend Nyadhi Sacco Online Portal Notification</h7>
                                </div>
                                <div class="modal-body">
                                    <p>@message</p>
                                    <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

}

<section id="contact" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>@ViewBag.Title</h2>
        </div>

    </div>

@using (Html.BeginForm())
{   @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home" >Identification</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Occupation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">NEXT OF KIN/DEPENDANTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Credentials</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">
            <div class="container">
                <div class="form">
                    <div id="errormessage"></div>
                  <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.surnameP, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Surname is  mandatory", @class = "form-control", @placeholder = "Surname" } })
                                @Html.ValidationMessageFor(model => model.surnameP, "", new { @style = "color:red" })


                            </div>
                            <div class="form-group col-md-6">
           @Html.EditorFor(model => model.nameP, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Name is  mandatory", @class = "form-control", @placeholder = "Name" } })
        @Html.ValidationMessageFor(model => model.nameP, "", new { @style = "color:red" })


                            </div>
                            <div class="form-group col-md-6">
                                <label class="">
                                Title
                                </label>
                                @Html.RadioButton("title", "Mr", isChecked: true)@Html.Label("Mr")
                                @Html.RadioButton("title", "Mrs", isChecked: false)@Html.Label("Mrs")
                                @Html.RadioButton("title", "Ms", isChecked: false)@Html.Label("Ms")
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })


                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.idnumber, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "ID/Passport number is  mandatory", @class = "form-control", @placeholder = "ID/Passport Number" } })
                                    @Html.ValidationMessageFor(model => model.idnumber, "", new { @style = "color:red" })
                                                                    </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Address is  mandatory", @class = "form-control", @placeholder = "Address" } })
                                    @Html.ValidationMessageFor(model => model.address, "", new { @style = "color:red" })


                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.code, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Code is  mandatory", @class = "form-control", @placeholder = "Code" } })
                                    @Html.ValidationMessageFor(model => model.code, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.town, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "City is  mandatory", @class = "form-control", @placeholder = "City" } })
                                    @Html.ValidationMessageFor(model => model.town, "", new { @style = "color:red" })


                                 </div>
                                <div class="form-group col-md-6">
                                    @Html.EditorFor(model => model.emailP, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Email is  mandatory", @class = "form-control", @placeholder = "Email" } })


                                          @Html.ValidationMessageFor(model => model.emailP, "", new { @style = "color:red" })




                                </div>
                                <div class="form-group col-md-6">
                                     @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Telephone is  mandatory", @class = "form-control", @placeholder = "Telephone" } })
                                    @Html.ValidationMessageFor(model => model.telephone, "", new { @style = "color:red" })
                                     

                                </div>
                                 <div class="form-group col-md-6">
                                    <label class="">
                                       Gender
                                    </label>
                                     @Html.RadioButton("gender", "Male", isChecked: true)@Html.Label("Male")
                                     @Html.RadioButton("gender", "Female", isChecked: false)@Html.Label("Female")
                                     @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <br />

    
                    <div class="text-center"><a href="~/Account/Index">Login</a></div>

                </div>

            </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">
            <div class="container">
                <div class="form">
                    <div id="errormessage"></div>
                    
                        <div class="form-row">
                            <label class="form-group col-md-6">
                                <strong>For Farmers</strong>
</label>
                            <br />
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.farmlocation ,new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Farm location is  mandatory", @class = "form-control", @placeholder = "Location of the farm" } })
                                @Html.ValidationMessageFor(model => model.farmlocation, "", new { @style = "color:red" })




                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.crops, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Crops is  mandatory", @class = "form-control", @placeholder = "Crops grown" } })
                                @Html.ValidationMessageFor(model => model.crops, "", new { @style = "color:red" })




                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.livestock, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Livestock is  mandatory", @class = "form-control", @placeholder = "Livestock kept (including poultry)" } })
                                @Html.ValidationMessageFor(model => model.livestock, "", new { @style = "color:red" })




                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.average, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Average", @class = "form-control", @placeholder = "Average of land owned" } })
                                @Html.ValidationMessageFor(model => model.average, "", new { @style = "color:red" })




                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.agriculture, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "Agriculture", @class = "form-control", @placeholder = "Agricultural equipment owned or leased " } })
                                @Html.ValidationMessageFor(model => model.agriculture, "", new { @style = "color:red" })




                            </div>
                            <label class="form-group col-md-6">
                                For those in salaried employment
                            </label>
                            <br />
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.employer, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "", @class = "form-control", @placeholder = "Employer" } })
                                @Html.ValidationMessageFor(model => model.employer, "", new { @style = "color:red" })




                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.workstation, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "", @class = "form-control", @placeholder = "WorkStation" } })
                                @Html.ValidationMessageFor(model => model.workstation, "", new { @style = "color:red" })




                            </div>
                            <label class="form-group col-md-6">
                                
                            </label>
                            <br />
                            <label class="form-group col-md-6">
                                <strong>Terms of service</strong>
                            </label>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.designation, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "", @class = "form-control", @placeholder = "Designation" } })
                                @Html.ValidationMessageFor(model => model.designation, "", new { @style = "color:red" })




                            </div>
                            <label class="form-group col-md-6">
                                
                            </label>
                            <br />
                            <label class="form-group col-md-6">
                             
                            </label>
                            <label class="form-group col-md-6">
                                For those in Business
                            </label>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.businessname, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "", @class = "form-control", @placeholder = "Business name" } })
                                @Html.ValidationMessageFor(model => model.businessname, "", new { @style = "color:red" })




                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.legalstatus, new { htmlAttributes = new { @Autocomplete = "off", @type = "Text", @title = "", @class = "form-control", @placeholder = "Legal Status" } })
                                @Html.ValidationMessageFor(model => model.legalstatus, "", new { @style = "color:red" })




                            </div>
                        </div>

                        <br />

    
                    
                </div>

            </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel">
            <div class="container">
                <div class="form">
                    <div id="errormessage"></div>
                    
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.TextBox("Surname", null, new { @class = "form-control", @id = "Surname", @placeholder = "Surname" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("Name", null, new { @class = "form-control", @id = "Name", @placeholder = "First Names" })


                              </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("OtherNames", null, new { @class = "form-control", @id = "OtherNames", @placeholder = "Other Names" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("PBox", null, new { @class = "form-control", @id = "PBox", @placeholder = "P.O BOX" })
                             </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("PostalCode", null, new { @class = "form-control", @id = "PostalCode", @placeholder = "Postal Code" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("ID_Number", null, new { @class = "form-control", @id = "ID_Number", @placeholder = "ID_Number" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("Email", null, new { @class = "form-control", @id = "Email", @placeholder = "Email" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("Phone", null, new { @class = "form-control", @id = "Phone", @placeholder = "Telephone" })


                            </div>
                            <div class="form-group col-md-6">
                                @Html.TextBox("City", null, new { @class = "form-control", @id = "City", @placeholder = "City" })
                             </div>
                            <div class="form-group col-md-6">
                                <label>the undersigned, in the event of death whilst a member of Gwend Nyadhi Farmers Sacco Limited, nominate the person(s) named as here below to be paid as per the percentages shown</label>
                                @Html.TextBox("Percentage", null, new { @class = "form-control", @id = "Percentage", @placeholder = "Percentage" })
                           </div>
                           <div class="form-group col-md-6" style="visibility:hidden">
                               <input type="Text" class="form-control" value="@ViewBag.S" id="Customer_No">
                               <input type="Text" class="form-control" value="" id="id">
                               @Html.EditorFor(model => model.clientnumber, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.S, @readonly = "readonly" } })
                               <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>



                            </div>
                            
                        </div>

                        <br />
                        <button type="button" class="btn btn-success" id="btnAdd" onclick="Add()">Add</button>
                        <button type="button" class="btn btn-success" id="btnUpdate" style="display:none;" onclick="Update()">Update</button>
                       

                
                    <table class="table table-bordered table-hover" style="font-size:small">
                        <thead>
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                 Surname
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                   Othernames                                </th>
                                <th>
                                    P.O Box
                                </th>
                                <th>
                                    Postal Code
                                </th>
                                <th>
                                    ID No
                                </th>
                                <th>
                                  Email
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    City
                                </th>
                                <th>
                                    Percentage
                                </th>

                            </tr>
                        </thead>
                        <tbody class="tbody"></tbody>
                    </table>

                </div>

            </div>
        </div>
        <div class="tab-pane" id="settings" role="tabpanel">
            <div class="container">
                <div class="form">
                    <div id="errormessage"></div>
                  
                        <div class="form-row">
                           <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @Autocomplete = "off", @placeholder = "Password...", @type = "password", @title = "Password is  mandatory", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.EditorFor(model => model.confirmpassword, new { htmlAttributes = new { @Autocomplete = "off", @placeholder = "Confirm Password...", @type = "password", @title = "Confirm Password is  mandatory", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @style = "color:red" })
                            </div>
                         
                            
                                <div class="form-group col-md-1">
                                    <input style="margin-left:5%" type="checkbox" class="form-check-input" required>
                                   </div>
                                <br />
                                <label style="font-size:small" class="form-group col-md-6">
                                    I hereby make an application for membership and agree to abide by Gwend Nyadhi Farmers Sacco Limited By – laws and any amendments thereof.
                                    </label>
                               
                            <div class="form-group col-md-6">
                                <div class="text-center"><input type="submit" value="Submit" class="btn btn-success" /></div>

                            </div>
                            <label style="font-size:small;color:red" class="form-group col-md-6">
                                check for fields in red enter as required
                            </label>
                        </div>

                        <br />

    
                    <div class="text-center"><a href="~/Account/Index">Login</a></div>

                </div>

            </div>

        </div>
    </div>
   
}
    <script type="text/javascript">
        //Load Data in Table when documents is ready
        $(document).ready(function () {
            loadData();
        });
 
        //Load Data function
        function loadData() {
            $.ajax({
                url: "@baseUrl/Home/List",
                type: "GET",
                data: { s: $("#Customer_No").val(), 
                   },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.id + '</td>';
                        html += '<td>' + item.Surname + '</td>';
                        html += '<td>' + item.Name + '</td>';
                        html += '<td>' + item.OtherNames + '</td>';
                        html += '<td>' + item.PBox + '</td>';
                        html += '<td>' + item.PostalCode + '</td>';
                        html += '<td>' + item.ID_Number + '</td>';
                        html += '<td>' + item.Email + '</td>';
                        html += '<td>' + item.Phone + '</td>';
                        html += '<td>' + item.City + '</td>';
                        html += '<td>' + item.Percentage + '</td>';
                        html += '<td><a href="javascript:void(0);" onclick="getbyID(' + item.id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.id + ')">Delete</a></td>';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
       //Add Data Function
        function Add() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}
            var empObj = {
                id: $('#id').val(),
                Surname: $('#Surname').val(),
                Name: $('#Name').val(),
                OtherNames: $('#OtherNames').val(),
                PBox: $('#PBox').val(),
                PostalCode: $('#PostalCode').val(),
                ID_Number: $('#ID_Number').val(),
                Email: $('#Email').val(),
                Phone: $('#Phone').val(),
                City: $('#City').val(),
                CustomerNo: $('#Customer_No').val(),
                Percentage: $('#Percentage').val()
            };
            $.ajax({
                url: "@baseUrl/Home/Add",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    //$('#myModal').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //Function for getting the Data Based upon Employee ID
        function getbyID(EmpID) {
 //           alert(EmpID) ;
            $.ajax({
                url: "@baseUrl/Home/getbyID/"+EmpID,
                typr: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    //alert('Results' + result[0].Surname) ;
                    //(result) ; 
                    $('input#id').val(result[0].id);
                    $('input#Surname').val(result[0].Surname);
                    $('input#Name').val(result[0].Name);
                    $('input#OtherNames').val(result[0].OtherNames);
                    $('input#PBox').val(result[0].PBox);
                    $('input#PostalCode').val(result[0].PostalCode);
                    $('input#ID_Number').val(result[0].ID_Number);
                    $('input#Email').val(result[0].Email);
                    $('input#Phone').val(result[0].Phone);
                    $('input#City').val(result[0].City);
                    $('input#Customer_No').val(result[0].CustomerNo);
                    $('input#Percentage').val(result[0].Percentage);
                   $('#btnUpdate').show();
                    $('#btnAdd').hide();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }
        //function for updating employee's record
        function Update() {
            //var res = validate();
            //if (res == false) {
            //    return false;
            //}
            var empObj = {
                id: $('#id').val(),
                Surname: $('#Surname').val(),
                Name: $('#Name').val(),
                OtherNames: $('#OtherNames').val(),
                PBox: $('#PBox').val(),
                PostalCode: $('#PostalCode').val(),
                ID_Number: $('#ID_Number').val(),
                Email: $('#Email').val(),
                Phone: $('#Phone').val(),
                City: $('#City').val(),
                CustomerNo: $('#Customer_No').val(),
                Percentage: $('#Percentage').val()
            };
            $.ajax({
                url: "@baseUrl/Home/Update",
                data: JSON.stringify(empObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                    //$('#myModal').modal('hide');
                    //$('#EmployeeID').val("");
                   // $('#id').val("");
                   // $('#Name').val("");
                   // $('#ID_Number').val("");
                   // $('#DOB').val("");
                   // $('#Email').val("");
                   // $('#Phone').val("");
                   // $('#Address').val("");
                   // $('#Percentage').val("");
                   //$('#Relationship').val("")
                    clearTextBox();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
        //function for deleting employee's record
        function Delele(ID) {
            var ans = confirm("Are you sure you want to delete this Record?");
            if (ans) {
                $.ajax({
                    url: "@baseUrl/Home/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        loadData();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }
        //Function for clearing the textboxes
        function clearTextBox() {
            //$('#EmployeeID').val("");
            $('#id').val("");
            $('#Surname').val("");
            $('#Name').val("");
            $('#OtherNames').val("");
            $('#PBox').val("");
            $('#PostalCode').val("");
            $('#ID_Number').val("");
            $('#Email').val("");
            $('#Phone').val("");
            $('#City').val("");
            $('#Percentage').val("");
            $('#btnUpdate').hide();
            $('#btnAdd').show();
            // $('#Name').css('border-color', 'lightgrey');
            //$('#Age').css('border-color', 'lightgrey');
           //$('#State').css('border-color', 'lightgrey');
            //$('#Country').css('border-color', 'lightgrey');
        }
        //Valdidation using jquery
        function validate() {
            var isValid = true;
            
      
           
            if ($('#Name').val().trim() == "") {
                $('#Name').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Name').css('border-color', 'lightgrey');
            }
            if ($('#Surname').val().trim() == "") {
                $('#Surname').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Surname').css('border-color', 'lightgrey');
            }
           if ($('#PBox').val().trim() == "") {
                $('#PBox').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#PBox').css('border-color', 'lightgrey');
            }
            if ($('#PostalCode').val().trim() == "") {
                $('#PostalCode').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#PostalCode').css('border-color', 'lightgrey');
            }
            if ($('#ID_Number').val().trim() == "") {
                $('#ID_Number').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#ID_Number').css('border-color', 'lightgrey');
            }
            if ($('#Address').val().trim() == "") {
                $('#Address').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Address').css('border-color', 'lightgrey');
            }
            if ($('#Email').val().trim() == "") {
                $('#Email').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Email').css('border-color', 'lightgrey');
            }
            if ($('#Phone').val().trim() == "") {
                $('#Phone').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Phone').css('border-color', 'lightgrey');
            }
            if ($('#City').val().trim() == "") {
                $('#City').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#City').css('border-color', 'lightgrey');
            }
            return isValid;
        }

    </script>

    <script>
  $(function ()
    $('#myTab a:last').tab('show')
  )
    </script>


</section><!-- #contact -->
