﻿@{
    ViewBag.Title = "What We Offer";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<section id="services">
    <div class="container">

        <div class="section-header">
            <h2>@ViewBag.Title</h2>
            <p> Our current situation does not favour our dedicated civill servants who are mandated to serve our great country. We offer the following services
</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><img src="~/Images/coins.png" /></div>
 <h4 class="title"><a href="">FOOD & NUTRITION SECURITY</a></h4>
                    <p class="description">
                        A productive approach to addressing food security is more complex than simply growing more food. Economic growth does not necessarily reduce poverty and food insecurity, accessibility, empowerment, and purchasing power drive change, and a strategic, interdisciplinary approach is necessary to address food security.

                        Food production: investments in agricultural research, infrastructure, and inputs will increase food production. This will improve food security, especially for agricultural communities.
                        Adequate nutrition: improving food security does not necessarily improve nutrition. Efforts to alleviate malnutrition should be coordinated with developments in sanitation, clean water, and health services.
                        Resilience: Building resilience is key to decreasing the need for emergency aid. Systems such as crop insurance and employment guarantees strengthen communities and reduce vulnerability.
                        Empowerment: Gender equality, access to good land, technology, and information on good agricultural practices are necessary for achieving food security
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><img src="~/Images/loan.png" /></div>
 <h4 class="title"><a href="">Environmental Conservation</a></h4>
                    <p class="description">
                        discussions at the global level, but believes that action plans need to be localized so that mitigation measures can achieve results. Communities need to relate with the effects of climate change in the following ways that disrupt their livelihoods;

                        Poverty and natural resource dependent livelihoods underpin the vulnerability to climate change.
                        The increasing frequency and intensity of extreme climatic events and slow-onset changes will increase the vulnerability of urban and rural economic assets and, subsequently, the costs of doing business.
                        Loss of ecosystem services, besides potentially affecting food provision and human health, can significantly reduce incomes/ revenue.
                        Extreme climate events can disrupt the ability of individuals and households to sustain livelihoods by destroying livelihood assets or the means of production available to individuals, households or groups.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><img src="~/Images/product.png" /></div>
  <h4 class="title"><a href="">Enterprise Services</a></h4>
                    <p class="description">
                        A productive approach to enhance the Ability/Capacity for members to generate/increase income and build self esteem through;

                        Contract farming.
                        Aggregation of farm inputs and produce.
                        Communal commercial egg production.
                        Partner with County governments to build collection/storage sheds in each market centre.
                        Value addition and market access.
                        Facilitate real estate and other investments
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><img src="~/Images/product.png" /></div>
 <h4 class="title"><a href="">Financial Services</a></h4>
                    <p class="description">
                        Promoting a culture of savings.
                        Make savings easy by leveraging technology.
                        Promoting uptake of insurance products to enhance social welfare and security e.g. NHIF, Last Respect Insurance, Education Policy etc.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><img src="~/Images/product.png" /></div>
  <h4 class="title"><a href="">New Products</a></h4>
                    <p class="description">Always be on the lookout for new produvts in the loans fraternity.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><img src="~/Images/advice.png" /></div>
 <h4 class="title"><a href="">Advice</a></h4>
                    <p class="description">Advice on financial packages that really help clients make a valid decision on how to use their money via online services.</p>
                </div>
            </div>
            

        </div>

    </div>
</section><!-- #services -->
