﻿@{
    ViewBag.Title = "Why Us";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<section id="services">
    <div class="container">

        <div class="section-header">
            <h2>Why Us</h2>
            <p>
                Gwend Nyadhi Farmers Savings and Credit Co-operative Cociety is a producer based Sacco registered in Kenya. Our first value chain is poultry supported by sorghum as we complete our analysis and assessment of other viable value chains. Gwend Nyadhi is farmer centred and all our functions are geared towards eliminating business bottlenecks for our members to unlock profitability of farm based enterprises. Registration fee is a one-off payment of Ksh. 200/= and shares at Ksh. 20/=.  </p>
        </div>
        <div class="section-header">
            <h2>Insurance</h2>
            <p>
          
              </p>
        </div>
        <div class="section-header">
            <h2>Poultry Program</h2>
            <p>
          
              </p>
        </div>
        <div class="section-header">
            <h2>Sorghum Program</h2>
            <p>
          
              </p>
        </div>
          
    </div>
</section><!-- #services -->
